<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 7</b></center>    
<pre>

### Name :Vyas Bhagyesh Y.
### Enrollment No : 23010101662
### Roll N0 : 23010101662

# Functions

In [ ]:
# will throw an error
## UnboundLocalError: local variable 'a' referenced before assignment
a = 15
def change():
    a = a + 5
    print(a) 
change()

In [4]:
# when to use global
a = 15
def change():
    global a
    a = a + 5
    print(a) 
change()

20

### 01) WAP to count simple interest using function.

# SI =( principle(amount) * rate of interest * time )/ 100

In [1]:
p=float(input("Enter Principle : "));
r=float(input("Enter Rate of Interest : "));
n=float(input("Enter Time : "));

def simpleI(p,r,n):
    return p*r*n/100
print("Simple Interest :: ",simpleI(p,r,n))

Enter Principle :  1000
Enter Rate of Interest :  10.2
Enter Time :  1

Simple Interest ::  102.0

### 02) WAP that defines a function to add first n numbers.

In [6]:
def add(n):
    sum=0
    for i in range(1,n+1):
        sum+=i
    return sum
n=int(input("Enter n :"))
print("Sum = ",add(n))

Enter n : 100

Sum =  5050

### 03) WAP to find maximum number from given two numbers using function.

In [13]:
def maxn(a,b):
    return a if a>b else b
a=int(input("Enter number-1 : "))
b=int(input("Enter number-2 : "))
print("Max = ",maxn(a,b))

Enter number-1 :  3
Enter number-2 :  4

Max =  4

### 04) WAP that defines a function which returns 1 if the number is prime otherwise return 0.

In [9]:
def isprime(n):
    c=0
    for i in range(2,int(n**0.5)):
        if n%i==0:
            return 0,c
        c+=1
    return 1,c
n=int(input("Enter number : "))
prime,c=isprime(n)
print("No of Iteration = ",c)
print(prime)

Enter number :  9973

No of Iteration =  97
1

<h2> optional task : optimization</h2>
complete basic task first then try to optimize

In [1]:
# Example on how iterations are calculated
# Only iteration in loops are counted
iteration_count= 0
n = 5
for i in range(n):
    iteration_count += 1
    
    for j in range(n-i-1):
        iteration_count += 1
        print(" ", end = " ")
    for j in range(i+1):
        iteration_count += 1
        print("*", end = " ")
    print()
print("Total Iterations : ", iteration_count)

        *
      * *
    * * *
  * * * *
* * * * *
Total Iterations :  30

Enter Number :  9973
No. of iteration :  16
1

### 05) Write a function called primes that takes an integer value as an argument and returns a list of all prime numbers up to that number.

In [29]:
def primeList(n):
    l2=[]
    c=0
    for i in range(2,n+1):
        flag=True
        for j in range(2,i):
            # c+=1
            if i%j==0:
                flag=False
        if flag==True:
            l2.append(i)
    return l2
l=primeList(1000)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

<h2> optional task : optimization</h2>
if basic task completed then try to optimize

Enter Number: 1000
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
No of primes :  168
No. of iteration :  1764

Enter Number: 1000
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
No of primes: 168
No. of iteration: 929

### 06) WAP to generate Fibonacci series of N given number using function name fibbo. (e.g. 0 1 1 2 3 5 8...)

<img src="https://www.freecodecamp.org/news/content/images/size/w1000/2022/06/calculate-the-Fibonacci-number-we-have-basic-2-approaches.png" height="600px" width="600px">

In [10]:
def fibbo(n):
    li=[0,1]
    n1=0
    n2=1
    n3=0
    for i in range(2,n):
        n3=n1+n2
        li.append(n3)
        n1=n2
        n2=n3
    return li

n=int(input("Enter Size: "))
print(fibbo(n))

Enter Size:  21

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

### 07) WAP to find the factorial of a given number using recursion.

In [40]:
n=int(input("Enter number : "))

def fact(n):
    if n==1:
        return 1
    return n*fact(n-1)

print("Factorial of ",n,"= ",fact(n))

Enter number :  10

Factorial of  10 =  3628800

### 08) WAP to implement simple calculator using lamda function.

In [16]:
a=int(input("Enter number-1 : "))
b=int(input("Enter number-2 : "))
op=input("Enter Operator : ")

if op=='+':
    print((lambda a,b:a+b)(a,b))
elif op=='-':
    print((lambda a,b:a-b)(a,b))
elif op=='*':
    print((lambda a,b:a*b)(a,b))
elif op=='/':
    print((lambda a,b:a/b)(a,b))
else:
    print((lambda a,b:a//b)(a,b))

Enter number-1 :  2
Enter number-2 :  3
Enter Operator :  *

6

### 09)Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically
Sample Items : green-red-yellow-black-white <br>
Expected Result : black-green-red-white-yellow

In [55]:
str=input("Enter hyphen-separated sequence of words : ")
print(str)
l1=str.split('-')
l1=sorted(l1)
print('-'.join(l1))

Enter hyphen-separated sequence of words :  red-green-yellow-black-white

red-green-yellow-black-white
black-green-red-white-yellow

### 10) Write a python program to implement all function arguments type
Positional arguments <Br>
Default argument <Br>
Keyword arguments (named arguments) <Br>
Arbitrary arguments (variable-length arguments args and kwargs)

In [ ]:
# Positional argument

In [14]:
# Default argument
def defaultArgument (a,b=10) :
    print(a+b)

defaultArgument(10)

20

In [ ]:
# Keyword argument
def keywordArgument (a,b) :
    print(a+b)

defaultArgument(a=10,)

In [ ]:
# Arbitrary arguments awrgs
def arbitraryArguments(*b):

In [ ]:
# Arbitrary arguments kwargs
def arbitraryArguments(**b):

### 01) WAP to calculate power of a number using recursion.

In [18]:
def power(n,p):
    if p>0:
        return n*power(n,p-1)
    else:
        return 1
    
n=int(input("Enter Number: "))
p=int(input("Enter power: "))
print("Answer = ",power(n,p))

Enter Number:  2
Enter power:  3

Answer =  8

### 02) WAP to count digits of a number using recursion.

In [17]:
def digit(n):
    if n//10==0:
        return 1
    else:
        return 1+digit(n//10)
n1=int(input("Enter Number: "))
print("Digits = ",digit(n1))

Enter Number:  123

3

### 03) WAP to reverse an integer number using recursion.

In [21]:
n=int(input("Enter Number: "))

def r_n(n,rev_n=0):
    if n==0:
        return rev_n
    else:
        lsdigit=n%10
        rev_n=rev_n*10+lsdigit
        return r_n(n//10,rev_n)

r_n(n)

Enter Number:  1234

4321

### 04) WAP to convert decimal number into binary using recursion.

<img src="https://runestone.academy/ns/books/published/pythonds/_images/dectobin.png">
<img src="https://www.tutorialstonight.com/assets/decimal-to-binary-conversion.png">

In [33]:
def d_b(dec):
    if dec == 0:
        return 0
    else:
        return(dec % 2 + 10 * d_b(int(dec // 2)))
    
dec=int(input("Enter Decimal Number: "))
d_b(dec)

Enter Decimal Number:  22

10110


# Map , Filter , Reduce

### map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [3]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x * x, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

### The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [4]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
 
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
 
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

### The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [5]:
 # importing functools for reduce() 
import functools 

# initializing list 
lis = [1, 3, 5, 6, 2] 

# using reduce to compute sum of list 
print("The sum of the list elements is : ", end="") 
print(functools.reduce(lambda a, b: a+b, lis)) 

# using reduce to compute maximum element from list 
print("The maximum element of the list is : ", end="") 
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6