<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 6</b></center>    
<pre>

# Patil Krunal
# 23010101639
# 13-2-2024

# Tuples, dictionary, set

In [3]:
# cretae custom dictionary
my_dict = {}
n = 2
for i in range(n):
    a = input("Enter Key : ")
    my_dict[a] = input("Enter Value : ")
print(my_dict)

Enter Key : 2
Enter Value : hi
Enter Key : 3
Enter Value : bye
{'2': 'hi', '3': 'bye'}

In [1]:
# looping through dictionary
my_dict = {3: 'x', 5: 'a', 1: 'z', 4: 'b', 2: 'y'}
for i in my_dict:
    print("Key : ", i , " Value : ", my_dict[i] )

Key :  3  Value :  x
Key :  5  Value :  a
Key :  1  Value :  z
Key :  4  Value :  b
Key :  2  Value :  y

In [9]:
# finding a value in dictionary
my_dict = {3: 'x', 5: 'a', 1: 'z', 4: 'b', 2: 'y'}

def find_val(find_val):
    global my_dict
    for i in my_dict:
        if(my_dict[i] == find_val):
            print("Found val at key : ", i)
            break
    else:
        print("Val Not Found")
        
find_val('b')
find_val('f')

Found val at key :  4
Val Not Found

In [10]:
# check if a key is there or not in a dictionary
my_dict = {3: 'x', 5: 'a', 1: 'z', 4: 'b', 2: 'y'}

def find_key(find_key):
    global my_dict
    if find_key in my_dict:
        print("Key Exists")
    else:
        print("No key found")

find_key(2) 
find_key('2')

Key Exists
No key found

# A

### 01) WAP to sort python dictionary by key or value.

In [25]:
d={}
for i in range(5):
    i=int(input("Enter Key : "))
    v=input("Enter Value : ")
    d[i]=v
    
key=list(d.keys())
key.sort()
k_d={}
for i in key:
    k_d[i]=d[i]
print(k_d)

Enter Key : 1
Enter Value : a
Enter Key : 4
Enter Value : d
Enter Key : 3
Enter Value : s
Enter Key : 2
Enter Value : f
Enter Key : 5
Enter Value : g
{1: 'a', 2: 'f', 3: 's', 4: 'd', 5: 'g'}

### 02) WAP to merge two dictionaries given by user.

In [61]:
d1={}
for i in range(2):
    i=int(input("Enter Key : "))
    v=input("Enter Value : ")
    d1[i]=v
    
d2={}
for i in range(2):
    i=int(input("Enter Key : "))
    v=input("Enter Value : ")
    d2[i]=v    
    
d3=(d1|d2)
print(d3)

Enter Key : 1
Enter Value : 2
Enter Key : 3
Enter Value : 4
Enter Key : 5
Enter Value : 6
Enter Key : 7
Enter Value : 8
{1: '2', 3: '4', 5: '6', 7: '8'}

### 03) WAP to find tuples that have all elements divisible by K from a list of tuples.

In [35]:
List=[]
temp=[]
for i in range(5):
    for j in range(2):
        temp.append(int(input("Enter Number : ")))
    List.append(tuple(temp))
    temp.clear()
new_list=[]
k=int(input("Enter divider : "))
flag=True
for i in List:
    for j in i:
        if j%k!=0:
            flag=False
    if(flag):
        new_list.append(i)
    flag=True
    
print(new_list)

Enter Number : 1
Enter Number : 2
Enter Number : 3
Enter Number : 4
Enter Number : 5
Enter Number : 6
Enter Number : 7
Enter Number : 8
Enter Number : 9
Enter Number : 10
Enter divider : 1
[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

### 04) WAP to find Tuples with positive elements in List of tuples.

In [36]:
List=[]
temp=[]
for i in range(5):
    for j in range(2):
        temp.append(int(input("Enter Number : ")))
    List.append(tuple(temp))
    temp.clear()
    
new_list=[]
flag=True
for i in List:
    for j in i:
        if j<0:
            flag=False
    if(flag):
        new_list.append(i)
    flag=True
    
print(new_list)

Enter Number : 1
Enter Number : 2
Enter Number : -1
Enter Number : 3
Enter Number : -1
Enter Number : -1
Enter Number : 1
Enter Number : 5
Enter Number : 6
Enter Number : 7
[(1, 2), (1, 5), (6, 7)]

### 05) WAP which perform union of two sets.

In [40]:
set1=set()
set2=set()

for i in range(3):
    set1.add(int(input()))

for i in range(3):
    set2.add(int(input()))

set1.union(set2)
print(set1)

1
2
3
3
4
5

{1, 2, 3}

# B

### 01) WAP to convert binary tuple into integer.

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20211220193034/binary2.PNG">

In [44]:
 Tuple=()
temp=[]
for j in range(6):
        temp.append(int(input("Enter Number : ")))
Tuple=tuple(temp)

sum=0
index=0
for i in Tuple[::-1]:
    sum+=2**index*i
    index=index+1
    
print(sum)

Enter Number : 1
Enter Number : 0
Enter Number : 1
Enter Number : 0
Enter Number : 1
Enter Number : 0
42

### 02) WAP to count frequency in list by dictionary.

In [52]:
List=[]
Dict=dict()

for i in range(5):
    List.append(int(input()))  
for i in List: 
    c=List.count(i)
    Dict[i]=c
print(Dict)

1
1
2
2
3
{1: 2, 2: 2, 3: 1}

### 03) WAP to remove all the duplicate words from the list using dictionary.

In [57]:
 List=[]
Dict=dict()

for i in range(10):
    List.append((input()))  
for i in List: 
    c=List.count(i)
    Dict[i]=c
List=list(set(List))

print(List)
print(Dict)

red
blue
orange
yellow
green
red
blue
orange
yellow
green
['yellow', 'blue', 'orange', 'red', 'green']
{'red': 2, 'blue': 2, 'orange': 2, 'yellow': 2, 'green': 2}